body {
    margin: 0;
    font-family: "Smythe", system-ui;
} 

.container {
    width: 600px;
    margin: 0 auto;
}

/* header  */

header {
    background-image: url('./Images/header.png');
    background-size: cover;
    height: 167px;
}


/* item list */
.item {
    display: flex;
    justify-content: left;
    align-items: center;
    border-bottom: 2px solid grey;
    margin:40px 20px 0 20px;
}

.add-btn {
    background-image: url('Images/add-btn.png');
    width: 50px;
    height: 50px;
    margin: 10px 10px auto auto;
    border-radius: 50%;
    border: none;
    color: black;
    background-color: #fff;
}

#item-emoji {
    font-size: 98px;
    margin: 0;
    padding: 0;
}

.typo p{
    color: #8B8B8B;
}

/* bill */

.bill {
    margin:40px 20px 0 20px;
}

.bill-title {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
}

.bill div{
    display: flex;
    justify-content: left;
    padding: 10px 0;
    font-size: 24px;
    font-weight: bold;
}

#item-price, #total-price{
    margin-left: auto;
}

.remove-btn {
    border: 0;
    background-color: #fff;
    color: #BBBBBB;
}

.total-bill {
    border-top: 2px solid grey;
}

.order-btn, .pay-btn {
    width: 100%;
    padding: 10px;
    background-color: #16DB99;
    color: whitesmoke;
    border: none;
    border-radius: 2px;
    font-weight: bolder;
}

/* pop up window  */

.payment-popup {
    width: 400px;
    height: 400px;
    background-color: #fff;
    padding: 20px;
    box-shadow:  5px 5px 500px rgba(0, 0, 0, 0.3);

    position: fixed;
    bottom: 0;
    right: 0;
    top: 0;
    left: 0;
    margin: auto;
}

.payment-popup input{
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: 2px solid grey;

}

#pay-btn {
    width: 100%;
    padding: 15px;
    margin-top: 25px;
    margin-bottom: 20px;
}

.popup-title {
    text-align: center;
    font-size: 36px;
    margin-top: 0;
}

#close-btn {
    font-family: 'Courier New', Courier, monospace;
    background-color: #16DB99;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 90% ;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    font-size: 36px;
}

#close-btn:hover {
    background-color: red;
    color: #16DB99;
}

/* hidden */

.hidden {
    display: none;
}

/* footer */

.footer {
    text-align: center;
    font-size: 50px;
    margin: 20px auto;
}